@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  @apply  text-textBlack overflow-x-hidden;
}

h1,
h2,
h3 {
  line-height: 110%;
}

@layer utilities {
  .container {
    width: 90%;
    margin-inline: auto;
    max-width: 1024px;
  }
}

html {
  scroll-behavior: smooth;
}

.scrollbar-hide-scroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide-scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.home-gradient {
  background: rgb(252,224,186);
background: linear-gradient(140deg, rgba(252,224,186,1) 0%, rgba(255,255,255,0.8884803921568627) 44%, rgba(154,255,255,1) 100%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 768px) {
  .heroBg {
    background-position: center 420px;
  }
}
@media (min-width: 800px) {
  .heroBg {
    background-position: center 240px;
  }
}