@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-workSans text-textBlack;
}

h1,
h2,
h3 {
  line-height: 110%;
}

@layer utilities {
  .container {
    width: 90%;
    margin-inline: auto;
    max-width: 1024px;
  }
}
