@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-workSans text-textBlack;
}

h1,
h2,
h3 {
  line-height: 110%;
}

@layer utilities {
  .container {
    width: 90%;
    margin-inline: auto;
    max-width: 1024px;
  }
}

@media (min-width: 768px) {
  .heroBg {
    background-position: center 420px;
  }
}
@media (min-width: 800px) {
  .heroBg {
    background-position: center 240px;
  }
}
